@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --main-color: #ECB176;
  --text-color: #333;
  --second-text-color: #6F4E37;
  --white-color: #fff;
  --cover-color: linear-gradient(45deg, #FED8B1, #6F4E37);
  --pages-color: linear-gradient(90deg, #FED8B1, #ddd);
  --border: .125rem solid #130d08;
  --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

.wrapper{
  position: relative;
  width: 66rem;
  height: 45rem;
  padding: 2rem;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--cover-color);
  box-shadow: var(--box-shadow);
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
  transform-origin: right;
}

.cover.cover-left {
  z-index: -1;
}

.cover.cover-right.turn {
  transform: rotateY(180deg);
}

.album{
  position: relative;
  width:100%;
  height:100%;
  display:flex;
}

.album .album-page{
  position: absolute;
  width:50%;
  height:100%;
  background: var(--pages-color);
  box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);
  display:flex;
  padding: 2rem;
}

.greetings-page{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greetings-page img{
max-width:180px;
border: .25rem solid var(--main-color);
margin-bottom: .8rem;
}

.greetings-page h1{
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom:20px;
}

.greetings-page p{
  font-size: 15px;
  color: var(--main-color);
  text-align:justify;
  line-height: 1;
  
}

.album-page.page-right{
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: left;
}

.album-page.page-right.turn{
  transform: rotateY(-180deg);
}

.album-page .page-front,
.album-page .page-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pages-color);
  padding: 1.5rem 2rem;
}

.album-page .page-front{
  transform: rotateY(0deg) translateZ(1px);
}

.album-page .page-back {
  transform: rotateY(180deg) translateZ(1px);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}
 
.number-page {
  position: absolute;
  bottom: 1.2rem;
  left:50%;
  transform: translateX(-50%);
}

.nextprev-btn {
  position: absolute;
  bottom: .9rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--second-text-color);
  display:inline-flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.nextprev-btn:hover {
  color: var(--main-color);
}

.nextprev-btn.back {
  left: 1.5rem;

}