@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --main-color: #ECB176;
  --text-color: #333;
  --second-text-color: #6F4E37;
  --white-color: #fff;
  --cover-color: linear-gradient(45deg, #FED8B1, #6F4E37);
  --pages-color: linear-gradient(90deg, #FED8B1, #ddd);
  --border: .125rem solid #6F4E37;
  --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  overflow:hidden;
}

.wrapper{
  position: relative;
  width: 66rem;
  height: 45rem;
  padding: 2rem;
  perspective: 250rem;
  animation: show-animate 2s forwards;
}


@keyframes show-animate {
  0%, 30%{
    opacity: 0;
    transform: rotate(-20deg);
  }
  100%{
    opacity: 1;
    transform: rotate(0deg);
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--cover-color);
  box-shadow: var(--box-shadow);
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
  transform-origin: right;
}

.cover.cover-left {
  z-index: -1;
}

.cover.cover-right {
  z-index: 100;
  transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}
.cover.cover-right.turn {
  transform: rotateY(180deg);
}

.album{
  position: relative;
  width:100%;
  height:100%;
  display:flex;
  perspective: 250rem;
}

.album .album-page{
  position: absolute;
  width:50%;
  height:100%;
  background: var(--pages-color);
  box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);
  display:flex;
  padding: 2rem;
}

.album-page.page-left {
  box-shadow: -.6rem, .6rem, .6rem rgba(0, 0, 0, .1);
}
.greetings-page{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greetings-page img{
max-width:300px;
border: .25rem solid var(--main-color);
margin-bottom: .8rem;
}

.greetings-page h1{
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom:20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.greetings-page #p-greetings{
  font-size: 14px;
  color: black;
  text-align:justify;
  line-height: 1.3;
  
}

.album-page.page-right{
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.album-page.page-right img{
  max-width:180px;
  border: .25rem solid var(--main-color);
  margin-bottom: .8rem;
  margin-left:22px;
  }

  .album-page.page-right #last-page{
    max-width:115px;
    border: .25rem solid var(--main-color);
    margin-bottom: 0;
    padding:0;
    }

    .album-page.page-right .last-page-h1{
      margin-bottom: 90px;
    }


  .album-page.page-right #car{
    display:block;
    margin:auto;
    max-width:50px;
    border: none;
    }

    .album-page.page-right #emoji-lol{
      display:block;
      margin:auto;
      border:none;
      }

      .album-page.page-right #and{
        font-size:1rem;
        font-weight: 300;
        padding-right: 5px;
        }
      .album-page.page-right #end-message{
          font-size:.7rem;
          text-align: justify;
          font-weight: 300;
          text-align: center;
          }

          .album-page.page-right #end-message span{
            font-size:.7rem;
            font-weight: 600;
            padding:0;
            margin:0;
            }
          .album-page.page-right #heart{
            position:absolute;
            right: 14.5rem;
            bottom:1.7rem;
            border:none;
            height: 30px;
            }
            .album-page.page-right #kiss{
              position:absolute;
              right:10.7rem;
              bottom:3.3rem;
              border:none;
              height: 15px;
              }
              .album-page.page-right #iframe-spotify{
                position: absolute;
                block-size: fit-content;
                width:fit-content;
                top:3.8rem;
                right:6rem;
                }           

              
  .album-page.page-right #span-adventure-1{
    position: absolute;
    right: 3rem;
    top: 7rem;
    font-size: .7rem;
    }

    .album-page.page-right #span-adventure-2{
    position: absolute;
    right: 3rem;
    top: 8rem;
    font-size: 1rem;
    font-family: "Advent Pro", sans-serif;
    font-weight: 600;
    justify-content: center;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    }

    .album-page.page-right #span-adventure-3{
      position: absolute;
      right: 3.8em;
      font-size: 1rem;
      font-family: "Advent Pro", sans-serif;
      font-weight: 500;
      font-style: normal;
      }

      .album-page.page-right #span-foodtrip-1{
        position: absolute;
        left: 4.4rem;
        font-size: 1rem;
        font-family: "Advent Pro", sans-serif;
        font-weight: 500;
        font-style: normal;
        margin: 20px 0 0 0;
        }
      
      


.album-page.page-right.turn{
  transform: rotateY(-180deg);
}

.album-page .page-front,
.album-page .page-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pages-color);
  padding: 1.5rem 2rem;
}

.album-page .page-front{
  transform: rotateY(0deg) translateZ(1px);
}

.album-page .page-back {
  transform: rotateY(180deg) translateZ(1px);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
 
.number-page {
  position: absolute;
  bottom: 1.2rem;
  left:50%;
  transform: translateX(-50%);
}

.nextprev-btn {
  position: absolute;
  bottom: .9rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--second-text-color);
  display:inline-flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.nextprev-btn:hover {
  color: var(--main-color);
}

.nextprev-btn.back {
  left: 1.5rem;

}

.back-profile {
  position: absolute;
  bottom:1.2rem;
  right:2rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: var(--border);
  border-radius: .3rem;
  font-size: 1.1rem;
  color: var(--second-text-color);
  display:inline-flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  border-color: var(--second-text-color);
}

.back-profile:hover {
  background: var(--second-text-color);
  color: white;
}


.back-profile p {
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%) scale(.5);
  font-size: 1rem;
  opacity:0;
  transition: 0.5s;
  color: var(--second-text-color);
}

.back-profile:hover p {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  top: -1.8rem;
}

/* Media Queries */
@media (max-width: 1200px) {
  .wrapper {
    width: 50rem;
    height: 35rem;
    padding: 1.5rem;
  }

  .greetings-page h1 {
    font-size: 1.3rem;
  }

  .greetings-page p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 40rem;
    height: 28rem;
    padding: 1rem;
  }

  .album .album-page {
    padding: 1rem;
  }

  .greetings-page h1 {
    font-size: 1.2rem;
  }

  .greetings-page p {
    font-size: 10px;
  }

  .album-page .page-back,
  .album-page .page-front{
    font-size: 10px;
  }
}


  



@media (max-width: 768px) {
  .wrapper {
    width: 40rem;
    height: 25rem;
    padding: 1rem;
  }
  
  /* .album .album-page {
    padding: .7rem;
  } */
  
  .greetings-page h1 {
    font-size: .75rem;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .greetings-page #p-greetings {
    font-size: .3rem;
  }
  .greetings-page img{
    max-width:120px;
    border: .25rem solid var(--main-color);
    margin-bottom: .8rem;
    }
  
  /* .greetings-page #iframe-spotify {
    width: 100%;
    height:100%;
    background-color: red;
    padding-bottom: 50px;
    }  */
  
  .album-page .page-back,
  .album-page .page-front{
    font-size: .3rem;
  }
  
  .album-page .page-back p,
  .album-page .page-front p{
    margin-top: .7rem;
  }
  .album-page .page-back h1,
  .album-page .page-front h1{
    font-size: .7rem;
    line-height: .6rem;
    margin: 0 0 5px 0px;
  }
  
  
  .album-page.page-right img{
    background-color: red;
    display:flex;
    align-items: center;
    margin:0 0 7px 10px;
    max-width:60px;
    border: .25rem solid var(--main-color);
    
    }
  
    .album-page.page-right #span-adventure-1{
      position: absolute;
      right: .5rem;
      top: 5rem;
      font-size: .3rem;
      writing-mode: vertical-lr; 
      }
  
      .album-page.page-right #span-adventure-2{
      position: absolute;
      right: 1rem;
      top: 7rem;
      font-size: .5rem;
      font-family: "Advent Pro", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-variation-settings:
        "wdth" 100;
        writing-mode: vertical-rl; 
      }
  
      .album-page.page-right #span-adventure-3{
        position: absolute;
        right:6.5rem;
        bottom: 5rem;
        font-size: .5rem;
        font-family: "Advent Pro", sans-serif;
        font-weight: 400;
        font-style: normal;
          writing-mode: vertical-rl; 
        }
  
  .back-profile {
    width: 1.4rem;
    height: 1.4rem;
    font-size: .7rem;
    right:.7rem;
    bottom:.8rem;
  }
  
  .back-profile p {
    font-size: .5rem;
  }
  
  .back-profile:hover p {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -1.5rem;
  }
  
  .nextprev-btn {
    right: 1.1rem;
    width: .7rem;
    height: 1.1rem;
  }
  
  .nextprev-btn.back{
    left: 1.1rem;
  }
  
  .number-page {
    bottom: 1rem;
    font-size: .5rem;
    left:50%;
    transform: translateX(-50%);
  }
  
}

@media (min-width: 321px) and (max-width: 425px) {

  .wrapper {
    width: 40rem;
    height: 25rem;
    padding: 1rem;
  }
  
  /* .album .album-page {
    padding: .7rem;
  } */
  
  .greetings-page h1 {
    font-size: .75rem;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .greetings-page #p-greetings {
    font-size: .3rem;
  }
  .greetings-page img{
    max-width:120px;
    border: .25rem solid var(--main-color);
    margin-bottom: .8rem;
    }
  
  /* .greetings-page #iframe-spotify {
    width: 100%;
    height:100%;
    background-color: red;
    padding-bottom: 50px;
    }  */
  
  .album-page .page-back,
  .album-page .page-front{
    font-size: .3rem;
  }
  
  .album-page .page-back p,
  .album-page .page-front p{
    margin-top: .7rem;
  }
  .album-page .page-back h1,
  .album-page .page-front h1{
    font-size: .7rem;
    line-height: .6rem;
    margin: 0 0 5px 0px;
  }
  
  
  .album-page.page-right img{
    background-color: red;
    display:flex;
    align-items: center;
    margin:0 0 7px 35px;
    max-width:65px;
    border: .25rem solid var(--main-color);
    
    }
  
    .album-page.page-right #span-adventure-1{
      position: absolute;
      right: 1rem;
      top: 5rem;
      font-size: .4rem;
      writing-mode: vertical-lr; 
      }
  
      .album-page.page-right #span-adventure-2{
      position: absolute;
      right: 2rem;
      top: 10rem;
      font-size: .5rem;
      font-family: "Advent Pro", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-variation-settings:
        "wdth" 100;
        writing-mode: vertical-rl; 
      }
  
      .album-page.page-right #span-adventure-3{
        position: absolute;
        right:8.1rem;
        bottom: 5rem;
        font-size: .45rem;
        font-family: "Advent Pro", sans-serif;
        font-weight: 400;
        font-style: normal;
        writing-mode: horizontal-tb; 
        }
        
  
  .back-profile {
    width: 1.4rem;
    height: 1.4rem;
    font-size: .7rem;
    right:.7rem;
    bottom:.8rem;
  }
  
  .back-profile p {
    font-size: .5rem;
  }
  
  .back-profile:hover p {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -1.5rem;
  }
  
  .nextprev-btn {
    right: 1.1rem;
    width: .7rem;
    height: 1.1rem;
  }
  
  .nextprev-btn.back{
    left: 1.1rem;
  }
  
  .number-page {
    bottom: 1rem;
    font-size: .5rem;
    left:50%;
    transform: translateX(-50%);
  }
  
  
  }
  

  @media (max-width: 375px) {

    .wrapper {
      width: 40rem;
      height: 25rem;
      padding: 1rem;
    }
    
    /* .album .album-page {
      padding: .7rem;
    } */
    
    .greetings-page h1 {
      font-size: 1rem;
      font-family: "Oleo Script", system-ui;
      font-weight: 400;
      font-style: normal;
    }
    
    .greetings-page #p-greetings {
      font-size: .4rem;
    }
    .greetings-page img{
      max-width:130px;
      border: .25rem solid var(--main-color);
      margin-bottom: .8rem;
      }
    
    /* .greetings-page #iframe-spotify {
      width: 100%;
      height:100%;
      background-color: red;
      padding-bottom: 50px;
      }  */
    
    .album-page .page-back,
    .album-page .page-front{
      font-size: .3rem;
    }
    
    .album-page .page-back p,
    .album-page .page-front p{
      margin-top: .7rem;
    }
    .album-page .page-back h1,
    .album-page .page-front h1{
      font-size: .9rem;
      line-height: .8rem;
      margin: 0 0 8px 0px;
    }
    
    
    .album-page.page-right img{
      background-color: red;
      display:flex;
      align-items: center;
      margin:0 0 7px 25px;
      max-width:60px;
      border: .25rem solid var(--main-color);
      
      }
    
      .album-page.page-right #span-adventure-1{
        position: absolute;
        right: 1rem;
        top: 5rem;
        font-size: .4rem;
        writing-mode: vertical-lr; 
        }
    
        .album-page.page-right #span-adventure-2{
        position: absolute;
        right: 1.7rem;
        top: 9rem;
        font-size: .5rem;
        font-family: "Advent Pro", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
          writing-mode: vertical-rl; 
        }
    
        .album-page.page-right #span-adventure-3{
          position: absolute;
          right:7.3rem;
          bottom: 5rem;
          font-size: .30rem;
          font-family: "Advent Pro", sans-serif;
          font-weight: 400;
          font-style: normal;
            writing-mode: horizontal-tb; 
          }

          .album-page.page-right #span-foodtrip-1{
            position: absolute;
            right: 1rem;
            bottom:6rem;
            font-size: .7rem;
            font-family: "Josefin Sans", sans-serif;
            font-weight: 500;
            font-style: normal;
            margin: 20px 0 0 0;
            writing-mode: vertical-rl; 
            
            }


            
    
    .back-profile {
      width: 1.4rem;
      height: 1.4rem;
      font-size: .7rem;
      right:.7rem;
      bottom:.8rem;
    }
    
    .back-profile p {
      font-size: .5rem;
    }
    
    .back-profile:hover p {
      opacity: 1;
      transform: translateX(-50%) scale(1);
      top: -1.5rem;
    }
    
    .nextprev-btn {
      right: 1.1rem;
      width: .7rem;
      height: 1.1rem;
    }
    
    .nextprev-btn.back{
      left: 1.1rem;
    }
    
    .number-page {
      bottom: 1rem;
      font-size: .5rem;
      left:50%;
      transform: translateX(-50%);
    }
    
    
    }
    
@media (max-width: 320px) {

.wrapper {
  width: 40rem;
  height: 25rem;
  padding: 1rem;
}

/* .album .album-page {
  padding: .7rem;
} */

.greetings-page h1 {
  font-size: .75rem;
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.greetings-page #p-greetings {
  font-size: .3rem;
}
.greetings-page img{
  max-width:120px;
  border: .25rem solid var(--main-color);
  margin-bottom: .8rem;
  }

/* .greetings-page #iframe-spotify {
  width: 100%;
  height:100%;
  background-color: red;
  padding-bottom: 50px;
  }  */

.album-page .page-back,
.album-page .page-front{
  font-size: .3rem;
}

.album-page .page-back p,
.album-page .page-front p{
  margin-top: .7rem;
}
.album-page .page-back h1,
.album-page .page-front h1{
  font-size: .7rem;
  line-height: .6rem;
  margin: 0 0 5px 0px;
}


.album-page.page-right img{
  background-color: red;
  display:flex;
  align-items: center;
  margin:0 0 7px 10px;
  max-width:60px;
  border: .25rem solid var(--main-color);
  
  }

  .album-page.page-right #span-adventure-1{
    position: absolute;
    right: .5rem;
    top: 5rem;
    font-size: .3rem;
    writing-mode: vertical-lr; 
    }

    .album-page.page-right #span-adventure-2{
    position: absolute;
    right: 1rem;
    top: 7rem;
    font-size: .5rem;
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      writing-mode: vertical-rl; 
    }

    .album-page.page-right #span-adventure-3{
      position: absolute;
      right:6.5rem;
      bottom: 5rem;
      font-size: .5rem;
      font-family: "Advent Pro", sans-serif;
      font-weight: 400;
      font-style: normal;
        writing-mode: vertical-rl; 
      }

.back-profile {
  width: 1.4rem;
  height: 1.4rem;
  font-size: .7rem;
  right:.7rem;
  bottom:.8rem;
}

.back-profile p {
  font-size: .5rem;
}

.back-profile:hover p {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  top: -1.5rem;
}

.nextprev-btn {
  right: 1.1rem;
  width: .7rem;
  height: 1.1rem;
}

.nextprev-btn.back{
  left: 1.1rem;
}

.number-page {
  bottom: 1rem;
  font-size: .5rem;
  left:50%;
  transform: translateX(-50%);
}


}


